{% comment %}TODO consider https://developers.google.com/custom-search/docs/element{% endcomment %}
{% capture google_search_site %}{{ site.url }}{{ site.baseurl }}/{% endcapture %}
<script language="Javascript" type="text/javascript">
	function google_search() {
		var query = document.getElementById("google-search").value;
		window.open("https://duckduckgo.com/?q=" + query + "+site:{{ google_search_site | cgi_escape }}&ia=web");
	}
</script>

You can search this site using DuckDuckGo:

<form id="search" onsubmit="google_search(); return false;">
	<input type="text" id="google-search" placeholder="{{ site.data.language.enter_search_term }}">
</form>
<noscript>
	Search <a href="https://duckduckgo.com/?q=site:{{ google_search_site | cgi_escape }}" target="_blank">DuckDuckGo</a> for:
	<pre><code>search-term site:{{ google_search_site }}</code></pre>
</noscript>
