{% capture index_markdown %}
# About Me

I have been studying and teaching about NVC since 2014, just before my daughter was born. Now, I'm living in a yurt in rural Wales together with my partner Nicco and our two children. In 2020 we moved here from Germany.

I have a Master of Science in IT-Systems Engineering, which means I have learned how to develop software. As I was doing that, I discovered for myself the vanity of writing software, because software does not touch on the deep emotional and social problems we struggle with. At best it utilizes human psychology to capitalize on us, or streamlines buerocratic processes.
And because I am a radical, I have turned my back on software development and have turned to NVC and understanding human beings in a holistic way.

My eduction in software development has trained me for designing systems, clear communication as well as quick iterations and trying things out. 

In some ways I have been lucky, because I started my journey of integration and healing when I was about 15 years old. A man wiser than me, was able to meet me and hold up a mirror for me to see. He told me that if I would continue on the path I was on (stark rationality, shut-down of feelings and deemphasis of relationships) I would not be happy. At first I was angry at him, but the truth shone through for me and I conceded he was right. I set out on my journey to reclaim my emotions and rediscover myself. When I came in contact with NVC in 2014 it felt like coming home and finally finding oxygen.

Since then I have learned a lot. Most notably about shame and vulnerability. I have been particularly interested in interpersonal neurobiology (attachment theory, polyvagal theory...) as a result I have reclaimed a portion of my authenticity.
Social justice is a topic that has always been dear to me and equality of worth is one of my core values. My approach in meeting the deep need of justice - which everyone carries - has been my engagement with Restorative Circles, the work of Dominic Barter and my engagement with [Nonviolent Global Liberation](https://nglcommunity.org), the work of Miki Kashtan. I'm passionate about finding different ways of engaging which allow us to be together more and more of the time in a loving and collaborative way.

Since 2020 I'm living in rural Wales together with my family. I have two wonderful children who are 7 and 4 years old and I have my amazing partner Nicco, with whom I have been for over 10 years now.
We live off-grid in a yurt and enjoy a very simple lifestyle, which has taught me a lot.

{% endcapture %}
<div class="row t30">
  <div class="medium-8 columns">
   {{ index_markdown | markdownify }}
  </div><!-- /.medium-8.columns -->
	<div class="medium-4 columns">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
</div><!-- /.row -->