{% capture index_markdown %}
# About Me

I was studying for a Master’s degree in Software Engineering when I came across NVC and came to the conclusion that I did not want to be a Software Engineer. While Software Engineering is engaging cognitively, I wanted to work on the truly hard problems and I see these to be in the delicate and beautiful relationships between the people of our human family.  

From a very young age (I was born in 1991) I remember thinking how pointless and senseless conflict was and if people just talked sensibly with each other there wouldn’t be so much pain. It seems to me that I had to learn, unlearn and relearn many times over what makes communication and conflict so difficult and that my assumption is true only with a supportive mindset and the necessary skills and that finding these can be very challenging.   

My first introduction to NVC was by a trainer who was not certified in any way and taught NVC as part of a course on employee management at my university. This was in 2014. Nonetheless, I understood what NVC was about at its core and fell in love with it. It felt like finally finding something that made sense and where my way of looking at the world and other people made sense instead of being looked at as insane or naive. As a young child my father read the children’s Bible to me and I was very inspired by Jesus. Because of my environment I then became an atheist, but the beautiful message of radical love and nonviolence stayed with me. I see NVC as pointing to spiritual truth concerning life and offering valuable practices for transforming our judgements and thoughts to life-connected thinking and communication.  

Since learning about NVC I undertook my journey of growth and transformation (which I hope will never end). I had to learn to be transparent and expressive about my emotions, I had to learn to dance with my shame, I had to learn to regulate my nervous system, let go of control, go through anxiety and stop unhelpful thought patterns. I had to learn to really sit with my own pain. It has been humbling and rewarding and helps me to express more fully my beautiful human core.  

In this journey I have looked into many things including the nervous system and interpersonal neurobiology, nonviolence, A Course in Miracles, Restorative Circles, Trauma and recovery and more. I have been influenced by Dominic Barter, Miki Kashtan, Sarah Peyton, Micheal Nagler, Mohandas K. Gandhi, Eckhart Tolle, Sue Marriott & Ann Kelly, Carl Rogers and many many more.

I currently live in rural Wales with my two children. After living off-grid in a yurt for about 3 years I am happy to enjoy the comforts of a more sturdy home now.


# Education and important milestones

Start|End|What
-----|----|----
2010|2013|Bachelor of Science in IT-Systems Engineering at Hasso Plattner Institute. Potsdam, Germany
2013|2017| Master of Science in IT-Systems Engineering at Hasso Plattner Institute. Potsdam, Germany
2014|| Birth of my daughter.
2016|2016| Open Knowledge Leaders Program led by Rufus Pollok
2016| 2017| Practice groups with Astrid Schütte
2017|2019| PhD Student at Lehrstuhl für Wirschaftsinformatik Prof. Dr. Ing. Norbert Gronau. Potsdam, Germany
2017|2017| Year-long training in NVC with Christian Hinrichsen. 21 days of deep integration of NVC in a small group. Wartaweil, Germany
2017|| Birth of my son.
2018| | Introduction to Focussing after Eugene Gendlin with Astrid Schütte
2018|2019| Leading a bi-weekly NVC practice group at Universität Potsdam.
2018|| Nonviolent Global Liberation 6-day residential retreat with Miki Kashtan, Verene Nicholas, Sabine Geiger and others, Poland.
2018| today| Member of the online learning community "Nonviolent Global Liberation" founded by Miki Kashtan (CNVC certified trainer and international speaker)
2018| |Workshop about Shame with Liv Larsson for 4 days. Berlin, Germany.
2018|| Nonviolent Communication IIT in Birmingham with Robert Gonzales, Gina Lawrie, Shona Cameron, Roxy Manning, Carl Plesner and others. Brimingham, UK.
2019|2020|Apllication for an Erasmus+ Grant for the project "Seeds of Nonviolence" to take people to Denmark to receive training in Nonviolence, NVC and village mindedness. Funding of 49023€ was awarded and the project happend led by me under the umbrella of [frekonale e.V.](https://greennetproject.org/en/verein/), partly hindered through COVID in 2020.
2019|2020| Monthly Practice Group for Restorative Circles with Annett Zupke. Berlin, Germany
2019|2020| Activism with Extinction Rebellion Berlin/Germany in the Regenerative Culture Working Group. I founded the de-escalation team, co-founded the conflict engagement team and co-founded the emotional first aid team. I also ran an online Restorative Cicles Practice group and was part of the central police contact group for the rebellion wave in Berlin in October 2019.
2019| | Nonviolent Global Liberation 6-day residential retreat with Miki Kashtan, Verene Nicholas, Uma Lo and others, Poland.
2019|2020| Member of the Awareness Team for the Chaos Communication Camp and Congress.
2021|today|Volunteering for NVC Matters UK CIC, who are operating using Holacracy. Roles currently filled: Secretary for the GCC, Vision Co-ordinator, Annual Gathering Circle Lead
2022|today|Member of the Conflict Transformation Weave where I work alongside Jo MacHale and Ceri Buckmaster and potentially others to spread skills around conflict more widely
2022|2025|Foundation Degree in Integrative Counselling based on Client-Centred philosophy of Carl Rogers, Gerard Egan's Skilled Helper Model and Lappworth & Sills model for integration
2023| |Nonviolent Communication IITs in Germany and Turkey with Roxy Manning, John Kinyon, Ken & Shigeko, Iris Bawidaman, Francois Beausoleil, Vivet Alevi, Hagit Lifshitz, Carl Plesner, Katherine Mcferran, Judy Bleil
2024|today|Counselling Volunteer with New Pathways, a charity supporting survivors of sexual violence




{% endcapture %}
<div class="row t30">
  <div class="medium-8 columns">
   {{ index_markdown | markdownify }}
  </div><!-- /.medium-8.columns -->
	<div class="medium-4 columns">
		{% include _sidebar.html %}
	</div><!-- /.medium-4.columns -->
</div><!-- /.row -->
