@charset "utf-8";
/* Custom classes
------------------------------------------------------------------- */

/* relating to _includes/profile.md
--------------------------------------------------------------------*/
.float-right {
    float: right;
    width: 42%;
    max-width: 500px;
    margin: 0 0 1em 1.5em;
}

.float-left {
    float: left;
    width: 42%;
    max-width: 500px;
    margin: 0 1.5em 1em 0;
}

@media #{$small-only} {
    .float-right {
        float: none;
        width: 100%;
        max-width: none;
        margin: 0 0 1em 0;
    }
  .float-left {
        float: none;
        width: 100%;
        max-width: none;
        margin: 0 0 1em 0;
    }
}
